<section class="blog_categorie_area" th:fragment="header_management">
      <div class="container">
          <div class="row">
              <div class="col-lg-4">
                  <div class="categories_post">
                      <img th:src="@{/resources/img/blog/cat-post/cat-post-3.jpg}" alt="post">
                      <div class="categories_details">
                          <div class="categories_text">
                              <a href="http://localhost:8080/management/customers">
                                  <h5>Customer Management</h5>
                              </a>
                              <div class="border_line"></div>
                              <p>Enjoy your social life together</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="categories_post">
                      <img th:src="@{/resources/img/product/p9.jpg}" alt="post">
                      <div class="categories_details">
                          <div class="categories_text">
                              <a href="http://localhost:8080/management/shoesStock">
                                  <h5>Product Management</h5>
                              </a>
                              <div class="border_line"></div>
                              <p>Be a part of politics</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="categories_post">
                      <img th:src="@{/resources/img/product/p10.png}" alt="post">
                      <div class="categories_details">
                          <div class="categories_text">
                              <a href="http://localhost:8080/management/orders">
                                  <h5>Orders Management</h5>
                              </a>
                              <div class="border_line"></div>
                              <p>Let the food be finished</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>